:root {
    --chart-diameter: 85vw;
    --chart-progress: 40;
    --chart-border: 1em;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
   /* background-color: rgb(0, 106, 255);*/
   background-image: url(image8.jpeg);
   background-size: cover;
}

/* A temporary HTML demonstration of data */
#tempDisplay {
    width: 90vw;
    height: 90vh;
}
/*** Navigation Bar ***/
#nav-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    text-align: center;
    /*padding-bottom: 2em;*/
    background-color: rgb(62, 165, 255);
    /* Streatch goal: smooth animations and 
    background-image: linear-gradient(
        0deg,
        rgb(180, 228, 255),
        rgb(180, 228, 255) 80%,
        #0000 80%,
        #0000
    );
    */
}
#nav-advanced {

}
#nav-home {

}
#nav-create {

}

.nav-selected {
    overflow: visible;
    background-image: radial-gradient(
        rgb(0, 32, 129) 75%,
        rgb(62, 165, 255) 75%
    );
}
.nav-item {
    position: relative;
    aspect-ratio: 1;
    width:max-content;
}
.nav-item > img {
    height: 80%;
}
.nav-item:active > img {
    overflow: visible;
    background-image: radial-gradient(
        rgba(0, 32, 129, 0.204) 75%,
        rgb(62, 165, 255) 75%
    );
}
.nav-item:hover > img {
    overflow: visible;
    background-image: radial-gradient(
        rgb(0, 32, 129) 75%,
        rgb(62, 165, 255) 75%
    );
}

main {
    padding-left: 1em;
    padding-right: 1em;
}

/*** UI Elements ***/
div.dialogue {
    padding: 1vw;
    border-radius: 25px;
    background-color: rgb(0, 136, 255);
}
input.button {
    border-radius: 25px;
    background-color: rgb(0, 183, 255);
}
input.dropdown > form {
    display: none;
}
input.dropdown:checked > form {
    display: contents;
}
div#progress-chart {
    aspect-ratio: 1;
    min-width: var(--chart-diameter);
    position: relative;
    display: inline-grid;
    place-content: center;
}
div#progress-chart::before {
    aspect-ratio: 1;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side,rgb(112, 243, 255) 100%,#0000) top/var(--chart-border) var(--chart-border) no-repeat,
        conic-gradient(rgb(112, 243, 255) calc(var(--chart-progress)*1%),rgb(0, 32, 129) 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - var(--chart-border)),#000 calc(100% - var(--chart-border)));
          mask:radial-gradient(farthest-side,#0000 calc(100% - var(--chart-border)),#000 calc(100% - var(--chart-border)));
}
div#progress-chart::after {
    aspect-ratio: 1;
    content: "";
    position: absolute;
    inset: calc(50% - var(--chart-border)/2);
    border-radius: 50%;
    background: rgb(112, 243, 255);
    transform: rotate(calc(var(--chart-progress)*3.6deg)) translateY(calc(50% - var(--chart-diameter)/2));
}